body {
	background-color: #72c7cc;
	font-family: sans-serif;
}

.keys {
	text-align: center;
	display: flex;
	flex: 1;
	min-height:100vh;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}

.key {
	border: solid 1px black;
	border-radius: 2%;
	margin: 1rem;
	padding: 1rem 0.5rem;
	font-size: 1.5rem;
	text-align: center;
	color:white;
	background:rgba(0,0,0,0.4);
	text-shadow: 0 0 5px black;
	width: 100px;
}

kbd {
	display: block;
	font-size: 40px;
}

.sound {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}